/docs/flutter-designer/fd-v1.schema.json text eol=lf
/flutter-designer/src/main/resources/META-INF/netbeans-flutter-designer/schema/fd-v1.schema.json text eol=lf
/flutter-canvas-runner/src/main/flutter/** text eol=lf
/flutter-canvas-runner/src/main/resources/dev/flutter/netbeans/canvas/runner/CanvasRunnerBundle.manifest text eol=lf
